.card {
  width: 170px;
  position: relative;
  cursor: pointer;
  justify-self: center;
}

.card img {
  width: 100%;
  display: block;
  box-shadow: 0 0 8px var(--color-lilac);
  border-radius: 6px;
}

.card .card_front_side {
  transform: rotateY(90deg);
  transition: all ease-in 0.3s;
  position: absolute;
}

.flipped .card_front_side {
  transform: rotateY(0deg);
  transition-delay: 0.3s;
}

.card .card_back_side {
  transition: all ease-in 0.3s;
  transition-delay: 0.3s;
}

.flipped .card_back_side {
  transform: rotateY(90deg);
  transition-delay: 0s;
}

@media screen and (max-width: 600px) {
  .card {
    width: 80px;
    margin-bottom: 10px;
  }
}
