:root {
  --background-color: rgb(17, 2, 46);
  --color-white: #fff;
  --color-pink: magenta;
  --color-purple: #4666ff;
  --color-lilac: rgb(172, 140, 241);
  --color-yellow: rgb(254, 241, 67);
  --color-yellow-green: yellowgreen;
  --color-green: #27e9b2;
  --color-black: black;
  --color-dark: rgb(11, 1, 31);
}
